<div class="">
    <div class="d-flex flex-wrap p-3 bg-light">
        <button routerLink="assignment1" class="mx-auto btn btn-secondary">Assignment 1</button>
        <button routerLink="assignment2" class="mx-auto btn btn-secondary">Assignment 2</button>
        <button routerLink="assignment3" class="mx-auto btn btn-secondary">Assignment 3</button>
        <button routerLink="assignment4" class="mx-auto btn btn-secondary">Assignment 4</button>
        <button routerLink="assignment5" class="mx-auto mt-3 mt-lg-0 btn btn-secondary">Assignment 5</button>
        <button routerLink="assignment6" class="mx-auto mt-3 mt-lg-0 btn btn-secondary">Assignment 6</button>
    </div>
    <div class="">
        <router-outlet></router-outlet>
    </div>
</div>